## 1)Multiline statements using print function

In [2]:
print('''hii this statement will be multiline like 
      this did you see?
      THIs ''' )

hii this statement will be multiline like
      this did you see?
      THIs

In [9]:
l=[2,5,9,7,6,8,14,55,68]
x=0
for i in l:
    if i%2==0:
        print("{} is an even number and is present at index number [{}] and -ve index number [{}]".format(l[x], x,x-len(l)))
    else:
        print("{} is not an even number and is present at index number [{}] and -ve index number[{}] ".format(l[x],x,x-len(l)))
    x+=1    
print("done!!!")

2 is an even number and is present at index number [0] and -ve index number [-9]
5 is not an even number and is present at index number [1] and -ve index number[-8]
9 is not an even number and is present at index number [2] and -ve index number[-7]
7 is not an even number and is present at index number [3] and -ve index number[-6]
6 is an even number and is present at index number [4] and -ve index number [-5]
8 is an even number and is present at index number [5] and -ve index number [-4]
14 is an even number and is present at index number [6] and -ve index number [-3]
55 is not an even number and is present at index number [7] and -ve index number[-2]
68 is an even number and is present at index number [8] and -ve index number [-1]
done!!!

## 2) Properties of a list

In [35]:
import numpy as np
import pandas as pd
df = pd.read_csv("marks.csv")
df
df.head()
df.tail()
df.head(3)
df.tail(2)
df.sample(3)
df.Name
pd.isnull(df[['Name','Age']])
df.fillna({'Age':35}, inplace = True)
df.to_csv("new1.csv")
df
df1=pd.read_csv("new.csv")
df1.fillna({'Gender':'Male','Age':40} , inplace = True)
#df.columns
df1.to_csv("new.csv")
df1

   Unnamed: 0     Name  Marks  Gender  Age     Location
0           0     dave     55    Male   32     New York
1           1      tom     66    Male   36          NaN
2           2    katie     32  Female   29   new jersey
3           3   robert     29    Male   40      chicago
4           4  patrick     87    Male   35      seattle
5           5    gavin     11    Male   38  los angeles
6           6    sarah     50  Female   40    las vegas